*{
    margin: 0;
    padding: 0;  
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, #818295, #7b7c8b, #767681, #707078, #6a6a6e, #616063, #575758, #4e4e4e, #3f3f3f, #313131, #242424, #171717);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    height: 100vh;     
}
.cabecera{
    display: block;
    height: 13vh;
    width: 100vw;
    background-color: rgb(54, 54, 54);
    border-bottom: 2px double rgb(159, 159, 159);
    color: rgb(204, 204, 204);

}
.cabecera__titulo{
    position: absolute;
    top: 2.5%;
    left: 2vw;
    width: 55vw;
    height: 7vh;
    background-color: rgba(204, 204, 204, 0.5);
    overflow: auto;

}
.cabecera__logo{
    padding-top: 1vh;
    height: 5vh;
    position: absolute;
    top: 2%;
    left: 2%;
}
.cabecera__texto{
    width: 45vw;
    height: 5vh;
    position: absolute;
    top: 2%;
    left: 7%;
    color: rgb(41, 41, 41);
    padding-top: 0.5vh;
    font-style: italic;
}
.cabecera__nav{
    width: 40vw;
    height: 7vh;
    position: absolute;
    top:2.5%; 
    right:3%;
    display: inline;
    background-color: rgba(237, 237, 237, 0.145);
    text-align: right;
    color: rgb(204, 204, 204);
    padding-right: 2vw;
    padding-top: 2vh;
    overflow: auto;
}
.cabecera__nav__a{
    background-color: rgba(38, 38, 39, 0.764);
    padding: 5px;
    margin: 2px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.747);
}

 
.contenido{
    display: block;
    height: 80vh;
    color: rgb(204, 204, 204);
    text-align: center;
    overflow: auto;
}
.contenido__info{
    width: 35vw;
    height: 60vh;
    position: absolute;
    top:23vh;
    left:10vw;
    border: 1px ridge rgba(128, 128, 128, 0.356);
    overflow: auto;
    background-color: rgba(128, 128, 128, 0.356);     
}
.contenido__info__p{
    font-size: 1.3rem;
    padding: 5vw;
    color: azure;
}
.contenido__links{
    width: 35vw;
    height: 60vh;
    position: absolute;
    top:23vh;
    left:55vw;
    border: 1px ridge rgba(128, 128, 128, 0.356);
    overflow: auto;
    padding: 2vw;
    padding-left: 7vw;
    padding-right: 7vw;
    background-color: rgba(128, 128, 128, 0.356);
}
.contenido__links__a{
    display: block;
    padding: 5px;
    margin: 2.5vh;
    overflow: hidden;
    background-color: rgba(38, 38, 39, 0.764);
    color: rgba(255, 255, 255, 0.747);
    font-size: 2rem;
}


.pie{
    padding-top: 1vh;
    position: absolute;
    bottom: 0%;
    display: inline-block;
    height: 7vh;
    width: 100vw;
    background-color: rgb(54, 54, 54);
    border-top: 2px double rgb(159, 159, 159);
    color: rgb(204, 204, 204);
}
.pie__info{
    /*En esta clase aún tendré que agregar propiedades para alguna imagen que coloque en el footer antes del texto, pero aún no decido cual, por lo pronto no colocaré ninguna.*/
    position: absolute;
    left: 2vw;
    width: 75vw;
    height: 4.55vh;
    background-color: rgba(237, 237, 237, 0.145);
    overflow: auto;
}
.pie__info__disclaimer{
    padding: 1vh;
    font-size: 0.8rem;
    text-align: right;
}
.pie__links{
    position: absolute;
    right:3vw;
    background-color: rgb(204, 204, 204, 0.5);
    width: 20vw;
    height: 4.5vh;
    padding-top: 0.8vh;
    padding-left: 3vw;
    overflow: auto;
}
.pie__links_img{
    margin-right: 2vw;
    width: 1.4vw;
}