/*Clases del <main> de apuntes.html*/
.contenido{
    .contenido__info{
        .apuntes__contenido__info__p{
            font-size: $fuente-med;
            padding: 2vw;
            margin: 0;
            color: $text-color;
        }
    }
}
