/*Clases del <main> de apuntes.html*/
.contenido{
    .contenido__info{
        .apuntes__contenido__info__p{
            font-size: $fuente-med;
            padding: map-get($paddings,p-2vw);
            margin: map-get($margins,0);
            color: $text-color;
        }
    }
}