/*Clases del <main> de index.html*/
.contenido{
    color: $header-sec-b-color;
    text-align: $text-center;
    .contenido__info{
        width: 35vw;
        border: $border-style;
        overflow: auto;
        background-image: $background-gradient;
        -webkit-box-shadow: $sombreado-main;
        -moz-box-shadow: $sombreado-main;
        box-shadow: $sombreado-main-gradient;
        border-radius: $round-border-radius;   
        .contenido__info__p{
            font-size: $fuente-med;
            padding: 6vw;
            color: $text-color;
            .contenido__links__a{
                color: $links-color;
                font-size: $fuente-med;
                text-decoration: none;
            }
        }
    }
    .contenido__links{
        list-style: none;
        flex-direction: column;
        width: 35vw;
        border: $border-style;
        overflow: auto;
        background-image: $background-gradient;
        -webkit-box-shadow: $sombreado-main;
        -moz-box-shadow: $sombreado-main;
        box-shadow: $sombreado-main-gradient;
        border-radius: $round-border-radius;
        .contenido__links__a{
            color: $text-color;
            font-size: $fuente-med;
            text-decoration: none;
            .contenido__links__li{
                width: 20vw;
                max-width: 30vw;
                margin: 0 auto;
                background-color: $botones-b-color;
                border-radius: $round-border-radius; 
                border: $border-style;
                &:hover{
                    color: $links-color;
                    -webkit-box-shadow: $sombreado-botones;
                    -moz-box-shadow: $sombreado-botones;
                    box-shadow: $sombreado-botones; 
                }    
            }
        }
    }
}
.animate__animated .animate__fadeIn {
    --animate-duration: 2s;
}
/*Media Queries*/
@media screen and (max-width: 992px) {
    .contenido {
        flex-direction: column;
        overflow: auto;
        .contenido__info{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        .contenido__links{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            .contenido__links__a{
                .contenido__links__li{
                    width: 60vw;
                }
            }
        }
    }
}