/*Clases del <main> de index.html*/
.contenido{
    color: $header-sec-b-color;
    text-align: $text-center;
    .contenido__info{
        width: map-get($widths,contenido-info);
        @include borde ();
        @include sombra (-main);
        box-shadow: $sombreado-main-gradient;
        background-image: $background-gradient;
        overflow: auto;
        .contenido__info__p{
            font-size: $fuente-med;
            padding: map-get($paddings,p-6vw);
            color: $text-color;
            .contenido__links__a{
                color: $links-color;
                font-size: $fuente-med;
                text-decoration: none;
            }
        }
    }
    .contenido__links{
        list-style: none;
        flex-direction: column;
        @extend .contenido__info;
        .contenido__links__a{
            color: $text-color;
            font-size: $fuente-med;
            text-decoration: none;
            .contenido__links__li{
                width: map-get($widths,contenido-links-li);
                max-width: map-get($widths,max-width-30vw);
                margin: map-get($margins,0-auto);
                background-color: $botones-b-color;
                @include borde ();
                &:hover{
                    color: $links-color;
                    @include sombra (-botones); 
                }    
            }
        }
    }
}
.animate__animated .animate__fadeIn {
    --animate-duration: 2s;
}
/*Media Queries*/
@media screen and (max-width: 992px) {
    .contenido {
        flex-direction: column;
        overflow: auto;
        .contenido__info{
            @include centrado ();
            width: map-get($widths,contenido-info-mq);
        }
        .contenido__links{
            @include centrado ();
            width: map-get($widths,contenido-info-mq);
            .contenido__links__a{
                .contenido__links__li{
                    width: map-get($widths,w-60vw);
                }
            }
        }
    }
}