/*Clases del <main> de index.html*/
.contenido{
    color: $header-sec-b-color;
    text-align: $text-center;
    .contenido__info{
        width: map-get($widths,contenido-info);
        border: $border-style;
        overflow: auto;
        background-image: $background-gradient;
        -webkit-box-shadow: $sombreado-main;
        -moz-box-shadow: $sombreado-main;
        box-shadow: $sombreado-main-gradient;
        border-radius: $round-border-radius;   
        .contenido__info__p{
            font-size: $fuente-med;
            padding: map-get($paddings,p-6vw);
            color: $text-color;
            .contenido__links__a{
                color: $links-color;
                font-size: $fuente-med;
                text-decoration: none;
            }
        }
    }
    .contenido__links{
        list-style: none;
        flex-direction: column;
        width: map-get($widths,contenido-info);
        border: $border-style;
        overflow: auto;
        background-image: $background-gradient;
        -webkit-box-shadow: $sombreado-main;
        -moz-box-shadow: $sombreado-main;
        box-shadow: $sombreado-main-gradient;
        border-radius: $round-border-radius;
        .contenido__links__a{
            color: $text-color;
            font-size: $fuente-med;
            text-decoration: none;
            .contenido__links__li{
                width: map-get($widths,contenido-links-li);
                max-width: map-get($widths,max-width-30vw);
                margin: map-get($margins,0-auto);
                background-color: $botones-b-color;
                border-radius: $round-border-radius; 
                border: $border-style;
                &:hover{
                    color: $links-color;
                    -webkit-box-shadow: $sombreado-botones;
                    -moz-box-shadow: $sombreado-botones;
                    box-shadow: $sombreado-botones; 
                }    
            }
        }
    }
}
.animate__animated .animate__fadeIn {
    --animate-duration: 2s;
}
/*Media Queries*/
@media screen and (max-width: 992px) {
    .contenido {
        flex-direction: column;
        overflow: auto;
        .contenido__info{
            width: map-get($widths,contenido-info-mq);
            margin-left: map-get($margins,auto);
            margin-right: map-get($margins,auto);
        }
        .contenido__links{
            width: map-get($widths,contenido-info-mq);
            margin-left: map-get($margins,auto);
            margin-right: map-get($margins,auto);
            .contenido__links__a{
                .contenido__links__li{
                    width: map-get($widths,w-60vw);
                }
            }
        }
    }
}