.contenido{
    .carousel__contenido__info{
        width: map-get($widths,w-55vw);
        @include borde ();
        @include sombra (-main);
        @include centrado ();
        box-shadow: $sombreado-main-gradient;
        background-image: $background-gradient;
        overflow: auto;
        .reflexiones__contenido__info__p{
        font-size: $fuente-gde;
        color: $text-color;
        };
        .img__carousel{
            @include borde ();
            @include sombra (-main);
            max-width: 100%;
            object-fit: fill;
            &:hover{
                opacity: 1;
            }
        }; 
        .mensaje_contenido{
            @include borde ();
            color: $mensaje-color;
            background-color: $mensaje-bg-color;
            @include sombra (-main);
            line-height: map-get($heights,cabecera-titulo);
        }
    }
}
/*Hover de la galería*/
.carousel-hover{
    img{
        max-width: none;
        width: -webkit-calc(100% + 50px);
        width: calc(100% + 50px);
        opacity: 0.5;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-40px,0, 0);
        transform: translate3d(-40px,0,0);
    }
    figcaption {
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        padding: 2em;
        width: 100%;
        height: 50%;
    }
    h2, p {
        -webkit-transform: translate3d(0,40px,0);
        transform: translate3d(0,40px,0);
    }
    h2 {
        color: $text-color;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }
    p {
        color: $text-color2;
        opacity: 0;
        -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
        transition: opacity 0.2s, transform 0.35s;
    }
    &:hover{
        img, h2, p{
            opacity: 1;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
            -webkit-transition-duration: 0.35s;
            transition-duration: 0.35s;
        }
    }
} 
/*Media Queries*/
@media screen and (max-width: 992px) {
    .contenido{
        .carousel__contenido__info{
            width: map-get($widths,carousel);
            height: map-get($heights,h-60vh);
            .mensaje_contenido{
                font-size: $fuente-peq;
                line-height: 1rem;
            }
        }
    }
}