/*Clases del <header>*/
.cabecera{
    width: map-get($widths,cabecera);
    background-color: $header-b-color;
    color: $text-color;
    -webkit-box-shadow: $sombreado-header;
    -moz-box-shadow: $sombreado-header;
    box-shadow: $sombreado-header;
    .cabecera__titulo{
        height: map-get($heights,cabecera-titulo);
        width: map-get($widths,w-60vw);
        background-color: $header-sec-b-color;
        border-radius: $round-border-radius;
        font-style: $italic-style; 
        border: $border-style;
        box-shadow: $sombreado-titulo;
    }
    .cabecera__logo{
        height: map-get($heights,logo);
        width: map-get($widths,logo);
    }
    .cabecera__nav__a{
        height: map-get($heights,cabecera-titulo);
        text-align: $text-center;
        background-color: $botones-b-color;
        border: $border-style;
        border-radius: $round-border-radius; 
        &:hover {
            -webkit-box-shadow: $sombreado-botones;
            -moz-box-shadow: $sombreado-botones;
            box-shadow: $sombreado-botones;   
        }
    }
    .cabecera__nav__a__home{
        margin-top: map-get($margins,top-0);
    }
}
/*Media Queries*/
@media screen and (max-width: 767px){
    .cabecera .cabecera__nav__a{
        margin-top: map-get($margins,top-2);
    }
    .cabecera .cabecera__nav__a__home{
        margin-top: map-get($margins,top-10);
    }
}